<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  IgnorableNamespaces="uap mp rescap iot uap6">

 <Identity
	  Name="3c0371a2-235e-4e27-807a-abae1d377762"
	  Publisher="CN=b04741dc-9839-4fc5-9ea7-12efc69a5b46"
    Version="1.74.0.0" />

  <mp:PhoneIdentity PhoneProductId="ec0cc741-fd3e-485c-81be-68815c480690" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>mTIM.UWP</DisplayName>
    <PublisherDisplayName>b04741dc-9839-4fc5-9ea7-12efc69a5b46</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="mTIM.UWP.App">
      <uap:VisualElements
        DisplayName="mTIM.UWP"
        Square150x150Logo="Assets\icon.png"
        Square44x44Logo="Assets\icon.png"
        Description="mTIM.UWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\icon.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\icon.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
	<rescap:Capability Name="broadFileSystemAccess" />
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer"/>
    <uap:Capability Name="picturesLibrary"/>
    <Capability Name="privateNetworkClientServer"/>
	<uap:Capability Name="musicLibrary"/>
	<uap:Capability Name="videosLibrary"/>
	<uap6:Capability Name="graphicsCapture"/>
    <DeviceCapability Name="location"/>
    <DeviceCapability Name="webcam"/>
	<DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>